<h2>Log Entries for <%= link_to(@wine.name, @wine) %></h2>
<ol id="log_entries">
	<% @log_entries.each do |log_entry| %>
		<li>
			<span class="log_entry"><strong><%= pluralize(log_entry.rating, 'star') %></strong></span>
			<span class="user">from <%= log_entry.name %> </span>
			<span class="location">at <%= log_entry.location %> </span><br />
			<span class="date">
    			Tasted <%= time_ago_in_words(log_entry.tasted_on) %> ago
  			</span>
  			<p><i>&quot;<%= log_entry.comments %>&quot;</i></p>
		</li>
	<% end %>
</ol>

<%= link_to 'Create a Log Entry', new_wine_log_entry_path(@wine),
		remote: true,
		data: { 'update-target' => 'review_form_container' },
		class: 'btn btn-primary' %>

<div id="review_form_container"></div>
