<h1>Wine Reviews</h1>
<p>Current reviews:</p>

<ol>
	<% @wines.each do |wine| %>
		<li><%= wine.year %> <%= link_to(wine.name, wine) %> from <%= wine.winery %> (<%= wine.varietal %>)</li>
	<% end %>
</ol>

Know of a wine we're missing? Click <%= link_to 'Add a wine', new_wine_path %> to begin.
