<article class = "wine">
	<header>
		<h2><%= @wine.year %> <%= @wine.name %></h2>
	</header>
	<p><%= @wine.winery %> (<%= @wine.country %>)</p>
	<p><i><%= @wine.varietal %></i></p>
</article>

<p><%= link_to 'Edit this wine', edit_wine_path(@wine) %> or <%= link_to 'Back to all reviews', wines_path %></p>

<%= button_to 'Delete', @wine,
				method: :delete,
				data: { confirm: 'Are you sure you want to delete this wine?' } %>